@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(49, minmax(17px, 1fr));
  gap: 0;
  margin-top: 2.5rem;
  border: 1px solid rgb(125 211 252);
}

@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(49, minmax(15px, 1fr));
  }
}

@media (max-width: 640px) {
  .grid-container {
    grid-template-columns: repeat(49, minmax(8px, 1fr));
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(49, minmax(7px, 1fr));
  }
}